@charset "UTF-8";

/* Main Variable Declarations */
:root {
	/* Background Colors */
	--bg-light: ffffff;
	--bg-dark: #151515;
	--bg-red: #ff0000;

	/* Font Colors */
	--txt-light: #ececec;
	--txt-lighter: white;
	--txt-dark: rgb(68, 68, 68);
	--txt-darker: black;

	/* Fonts */
	--font-main: "Montserrat", sans-serif;

	/* Icon Sizes */
	--img-std: 100px;
	--img-portrait: 240px;
	--img-about: 120px;
	--img-contact: 40px;
}

/* Standard Tags*/
html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-light);
	font-family: var(--font-main);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	font-size: 1rem;
	text-align: center;
	color: var(--txt-darker);
}

section {
	/* Other CSS */
	margin: auto;
	max-width: 1000px;
	padding: 1rem;
}

nav {
	text-align: right;
	padding: 1rem 0;
}

nav a {
	padding: 14px 16px;
}

nav a:hover {
	color: var(--txt-lighter);
	font-weight: 600;
}

footer {
	padding-bottom: 0.5rem;
	font-size: 0.8rem;
}

footer p {
	padding: 0;
	margin: 0;
}

blockquote {
	display: block;
	/*border-width: 2px 0;
	border-style: solid;
	border-color: #eee;*/
	padding: 1.5rem 0 0.5rem;
	margin: 2rem auto auto;
	position: relative;
	text-align: center;
}
blockquote:before {
	content: "\201C";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 3rem;
	height: 2rem;
	font: 6rem/6rem "PT Sans", sans-serif;
	color: var(--txt-dark);
}
blockquote:after {
	content: "\2013 \2003"attr(cite);
	display: block;
	font-size: 0.875rem;
	padding-top: 0.6rem;
}
h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
	color: var(--txt-dark);
}

a {
	text-decoration: none;
	color: inherit;
}

.bg-dark {
	background-color: var(--bg-dark);
}

.bg-red {
	background-color: var(--bg-red);
}

.txt-light {
	color: var(--txt-light);
}

.bold {
	font-weight: 600;
}

.flex {
	/* Flex CSS */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.reverse {
	/* Flex CSS */
	flex-direction: row-reverse;
}

.full-width {
	max-width: 100%;
}

/* Sizing */
.top {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 52vh; /*Change back to 62 once emergency is done*/
}

.mt-4 {
	margin-top: 4rem;
}

.m-0 {
	margin: 0 auto;
}

.p-0 {
	padding: 0;
}

/* About Section & Specific Tags */
.icon {
	width: 38%;
}

.details {
	width: 62%;
	min-width: 360px;
}

.img-std {
	width: var(--img-std);
}

.img-portrait {
	width: var(--img-portrait);
}

.img-about {
	width: var(--img-about);
}

.img-border {
	border: 1px solid var(--txt-dark);
	border-radius: 10px;
}

.contact {
	justify-content: space-evenly;
}

.img-contact {
	width: var(--img-contact);
	transition: all 0.2s ease-in-out;
}

.img-contact:hover {
	transform: scale(1.5);
}

/* Animate */
/*!
 * animate.css -https://daneden.github.io/animate.css/
 * Version - 3.7.2
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2019 Daniel Eden
 */

@-webkit-keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
}

@-webkit-keyframes bounceInDown {
	from,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0);
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0);
	}

	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}

	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0);
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes bounceInDown {
	from,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0);
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0);
	}

	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}

	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0);
	}

	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.animated.slower {
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
}

@media (print), (prefers-reduced-motion: reduce) {
	.animated {
		-webkit-animation-duration: 1ms !important;
		animation-duration: 1ms !important;
		-webkit-transition-duration: 1ms !important;
		transition-duration: 1ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
	}
}
