/* Main Variable Declarations */
:root {
	/* Background Colors */
	--main-bg: white;
	--dark-bg: rgb(19, 19, 19);
	--icon-bg: rgba(192, 192, 192, 0.685);

	/* Font Colors */
	--light-txt-color: #ececec;
	--lighter-txt-color: white;
	--dark-txt-color: rgb(68, 68, 68);
	--darker-txt-color: black;

	/* Fonts */
	--main-font: "Montserrat", sans-serif;

	--icon-size: 100px;
}

/* Standard Tags*/
html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--main-bg);
	font-family: var(--main-font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	font-size: 1rem;
	color: var(--darker-txt-color);
}

h2 {
	color: var(--dark-txt-color);
}

/* Shared Div Tags */
.section {
	/* Other CSS */
	margin: auto;
	max-width: 1000px;
	padding: 2rem;
	text-align: center;
}

.container {
	/* Flex CSS */
	display: block;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;
}

.flex {
	/* Flex CSS */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.mt-2 {
	margin-top: 4rem;
}

.dark {
	background-color: var(--dark-bg);
}

/* Intro Section & Specific Tags */
.top {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--light-txt-color);
	min-height: 62vh;
	max-width: 100%;
}

.navbar {
	top: 0;
	position: absolute;
	right: 0;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar li {
	float: right;
}

.navbar li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: var(--light-txt-color);
}

.navbar li a:hover {
	color: var(--lighter-txt-color);
	font-weight: 600;
}

.title h1 {
	font-size: 4rem;
}

.swing {
	-webkit-transform-origin: top center;
	-webkit-animation-name: swing;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	transform-origin: top center;
	animation-name: swing;
	animation-duration: 1s;
	animation-fill-mode: both;
}

/* About Section & Specific Tags */
.icon {
	width: 38%;
}

.icon img {
	width: var(--icon-size);
}

.details {
	width: 62%;
	min-width: 360px;
}

/* Contact Section & Specific Tags */
.contact {
	justify-content: space-evenly;
}

.contact img {
	width: 40px;
}

.contact a {
	color: inherit;
}

.contact a:hover {
	transform: scale(1.5);
}

.footer {
	padding-bottom: 0.5rem;
	font-size: 0.8rem;
}

.footer > div > a {
	text-decoration: none;
}

@-webkit-keyframes swing {
	20% {
		-webkit-transform: rotate3d(0, 0, 1, 15deg);
		transform: rotate3d(0, 0, 1, 15deg);
	}

	40% {
		-webkit-transform: rotate3d(0, 0, 1, -10deg);
		transform: rotate3d(0, 0, 1, -10deg);
	}

	60% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg);
	}

	80% {
		-webkit-transform: rotate3d(0, 0, 1, -5deg);
		transform: rotate3d(0, 0, 1, -5deg);
	}

	to {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
	}
}

@keyframes swing {
	20% {
		-webkit-transform: rotate3d(0, 0, 1, 15deg);
		transform: rotate3d(0, 0, 1, 15deg);
	}

	40% {
		-webkit-transform: rotate3d(0, 0, 1, -10deg);
		transform: rotate3d(0, 0, 1, -10deg);
	}

	60% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg);
	}

	80% {
		-webkit-transform: rotate3d(0, 0, 1, -5deg);
		transform: rotate3d(0, 0, 1, -5deg);
	}

	to {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
	}
}
