/* Main Variable Declarations */
:root {
	/* Background Colors */
	--main-bg: white;
	--dark-bg: #151515;
	--icon-bg: rgba(192, 192, 192, 0.685);

	/* Font Colors */
	--light-txt-color: #ececec;
	--lighter-txt-color: white;
	--dark-txt-color: rgb(68, 68, 68);
	--darker-txt-color: black;

	/* Fonts */
	--main-font: "Montserrat", sans-serif;

	--icon-size: 100px;
}

/* Standard Tags*/
html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--main-bg);
	font-family: var(--main-font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	font-size: 1rem;
	color: var(--darker-txt-color);
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
	color: var(--dark-txt-color);
}

blockquote {
	display: block;
	/*border-width: 2px 0;
	border-style: solid;
	border-color: #eee;*/
	padding: 1.5rem 0 0.5rem;
	margin: 2rem auto auto;
	position: relative;
	text-align: center;
}
blockquote:before {
	content: "\201C";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 3rem;
	height: 2rem;
	font: 6rem/6rem "PT Sans", sans-serif;
	color: var(--dark-txt-color);
}
blockquote:after {
	content: "\2013 \2003"attr(cite);
	display: block;
	font-size: 0.875rem;
	padding-top: 0.6rem;
}

a {
	text-decoration: none;
	color: inherit;
}

/* Shared Div Tags */
.emergency {
	position: absolute;
	left: 0;
	right: 0;
	top: 4rem;
	background-color: red;
}

.section {
	/* Other CSS */
	margin: auto;
	max-width: 1000px;
	padding: 2rem;
	text-align: center;
}

.container {
	/* Flex CSS */
	display: block;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;
}

.flex {
	/* Flex CSS */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.mt-2 {
	margin-top: 4rem;
}

.dark {
	background-color: var(--dark-bg);
}

/* Intro Section & Specific Tags */
.top {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--light-txt-color);
	min-height: 62vh;
	max-width: 100%;
}

.navbar {
	top: 0;
	position: absolute;
	right: 0;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar li {
	float: right;
}

.navbar li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	color: var(--light-txt-color);
}

.navbar li a:hover {
	color: var(--lighter-txt-color);
	font-weight: 600;
}

.title h1 {
	font-size: 4rem;
}

/* About Section & Specific Tags */
.icon {
	width: 38%;
}

.icon img {
	width: var(--icon-size);
}

.details {
	width: 62%;
	min-width: 360px;
}

/* Resume Section & Specific Tags */
.resume img {
	border: 1px solid var(--dark-txt-color);
	border-radius: 10px;
}

/* Contact Section & Specific Tags */
.contact {
	justify-content: space-evenly;
}

.contact img {
	width: 40px;
}

.contact a {
	transition: all 0.2s ease-in-out;
}

.contact a:hover {
	transform: scale(1.5);
}

.footer {
	padding-bottom: 0.5rem;
	font-size: 0.8rem;
}
